<%= form_for(@merchant) do |f| %>
  <% if @merchant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merchant.errors.count, "error") %> prohibited this merchant from being saved:</h2>

      <ul>
      <% @merchant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :merchant_id %><br />
    <%= f.text_field :merchant_id %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :dba_name %><br />
    <%= f.text_field :dba_name %>
  </div>
  <div class="field">
    <%= f.label :institution_id %><br />
    <%= f.select(:institution_id, Institution.all.collect { |i| [ i.institution_name, i.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
